<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350154144807-dffqi5b42g84gnqbor80b2of9r04kc59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350154144807-dffqi5b42g84gnqbor80b2of9r04kc59</string>
	<key>API_KEY</key>
	<string>AIzaSyA0bisYW3IRFez_ISnxy5MRZFoY6VeqEdI</string>
	<key>GCM_SENDER_ID</key>
	<string>350154144807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MirunaH.FitnessApp-compact</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-eba62</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-eba62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350154144807:ios:afe04bf2ae511f925b2202</string>
</dict>
</plist>